/**
 * @file CSS file to manage the layout elements of the mediacapture plugin
 */

/* General layout rules  */
.mdl-left,.fp-saveas,.fp-setauthor,.fp-setlicense,.fp-upload-btn {display:none;}
.appletcontainer {overflow:hidden; text-align:center;}
#toolbar {margin:5px 0 5px 0}
#toolbar button {height:25px; float:left; min-width:35px; margin:0 5px 0 0;}
#Timer {float:right; width:80px; height:20px; text-align:center;}