/* CSS file */
.playButton {
down-icon: Embed(source="assets/player_pause.png");
over-icon: Embed(source="assets/player_pause.png");
up-icon: Embed(source="assets/player_pause.png");

selected-disabled-icon: Embed(source="assets/player_play.png");
selected-over-icon: Embed(source="assets/player_play.png");
selected-up-icon: Embed(source="assets/player_play.png");
}

.scrollBar {
	thumb-icon: Embed(source="assets/circle.png");
	thumb-up-skin: Embed(source="assets/circle.png");
	thumb-down-skin: Embed(source="assets/circle.png");
	thumb-over-skin: Embed(source="assets/circle.png");
}

ToolTip {
    backgroundAlpha: 1.0;
    backgroundColor: haloBlue;
    fontWeight: bold;
    color: white;
}

HSlider {

    dataTipPlacement: right;
    dataTipOffset: 0;
}

@font-face {
    src: local("Arial");
    font-weight: normal;
    fontFamily: ArialEmbedded;
}

.arial16E {
    fontFamily: "ArialEmbedded";
    fontSize: 16;
}
.arial14E {
    fontFamily: "ArialEmbedded";
    fontSize: 14;
}
.arial12E {
    fontFamily: "ArialEmbedded";
    fontSize: 12;
}
.arial10E {
    fontFamily: "ArialEmbedded";
    fontSize: 10;
}

ToolTip {
    fontFamily: ArialEmbedded;
    font-size:13;
}